{% extends "blog/base.html" %}
{% block content %}
     <article class="media content-section">
          <div class="media-body">
               <h2 class="article-title mb-2 ml-1">About</h2>
               <p class="article-content border-top">
                    Welcome to Shelf Reflection, a community-driven platform for discussing and discovering new works of fiction. We believe that books can inspire and transform us, and we want to make it easy for you to connect with others who share your love of reading.

                    Our platform allows you to create a personal profile where you can share information about yourself and your reading preferences. You can create posts about the books you've read, including reviews, recommendations, and discussions. Other users can comment on your posts and engage with you in conversations about your favorite books.

                    We're committed to creating a welcoming and inclusive community, where readers of all backgrounds and identities can feel comfortable sharing their thoughts and experiences. We encourage respectful and constructive dialogue, and we expect all users to adhere to our community guidelines.

                    Our mission is to help you discover new works of fiction and connect with other readers who share your interests. We believe that books have the power to broaden our horizons and deepen our understanding of the world, and we're excited to be a part of your reading journey.

                    Thank you for joining us at Shelf Reflection. Happy reading!
               </p>
          </div>
     </article>
{% endblock %}